.appdata/
.bash_history
.bash_profile
.bashrc
.cache/
Code/
.config/
.credentials
.dbus/
.dmrc
Documents
Downloads/
.dropbox/
Dropbox/
.emerald/
.esd_auth
.fontconfig/
.gconf/
.gconfd/
.gnome2/
.gnucash/
.gstreamer-0.10/
.gtk-bookmarks
.gvfs/
.histfile
.ICEauthority
.icons/
.lesshst
.local/
.macromedia/
.mozilla/
.mysql_history
.pki/
.recently-used.xbel
.ssh/authorized_keys
.ssh/id_rsa
.ssh/id_rsa.pub
.ssh/known_hosts
.themes/
.thumbnails/
todo
.viminfo
.wicd/
.xinitrc
.xsession
.xsession-errors
.xsession-errors.old
.zcompdump
