.adobe/
.rtorrent.rc
.appdata/
.bash_history
.bash_profile
.bashrc
bin/add-mailboxes
bin/runofflineimap
.cache/
.camel_certs/
Code/
.config/
.credentials
.dbus/
.designer/
.dmrc
Documents
Downloads/
.dropbox/
Dropbox/
.emerald/
.esd_auth
.evolution/
.fontconfig/
.gconf/
.gconfd/
.gem/
.gimp-2.6/
.gksu.lock
.gnome2/
.gnucash/
.gnupg/
.gstreamer-0.10/
.gtk-bookmarks
.gtkpod/
.gvfs/
.histfile
.ICEauthority
.icons/
.lesshst
.local/
.macromedia/
.mission-control/
.mozilla/
.mysql_history
.offlineimap/
.offlineimaprc
.orca/
.pki/
.recently-used.xbel
.ri/
.runofflineimap.log
.silc/
.ssh/authorized_keys
.ssh/id_rsa
.ssh/id_rsa.pub
.ssh/known_hosts
.sup/
.themes/
.thumbnails/
todo
Videos/
.viminfo
.wicd/
.xinitrc
.xscreensaver
.xsession
.xsession-errors
.xsession-errors.old
.zcompdump
