.ICEauthority
.Xauthority
.adobe/
.appdata/
.aptitude/
.bash_history
.bash_logout
.bashrc
.bogofilter/
.cache/
.camel_certs/
.config/
.dbus/
.dmrc
.dropbox-dist-new/
.dropbox-dist/
.dropbox/
.esd_auth
.evolution/
.filezilla/
.fontconfig/
.gconf/
.gconfd/
.gegl-0.0/
.gem/
.gimp-2.6/
.gksu.lock
.gnome-desktop/
.gnome2/
.gnucash/
.gnupg/
.gstreamer-0.10/
.gtk-bookmarks
.hplip/
.inkscape/
.java/
.jedit/
.kde/
.keepassx/
.lesshst
.liferea_1.4/
.local/
.macromedia/
.mozilla/
.mplayer/
.mysql_history
.mysqlgui/
.nautilus/
.nvidia-settings-rc
.openoffice.org/
.pdf
.pdfedit/
.printer-groups.xml
.profile
.ps
.pulse-cookie
.pulse/
.purple/
.putty/
.qt/
.rdebug_hist
.recently-used
.recently-used.xbel
.rnd
.subversion/
.sudo_as_admin_successful
.thumbnails/
.tomboy.log
.tomboy/
.update-manager-core/
.update-notifier/
.viminfo
.wapi/
.wine/
.xchat2/
.xine/
.xscreensaver-getimage.cache
.xsession-errors
.yarssr/
Code/
Desktop/
Documents/
Dropbox/
Music/
Pictures/
Temp/
Videos/
bin/spotify
digigov/
playdar/
.credentials
.Private
.compiz/
.ecryptfs
.mission-control/
.xsession-errors.old
Downloads/
.irb_history
.liferea_1.6/
.xinput.d/

.apport-ignore.xml
